.topbarContainer{
    height: 60px;
    width: 100%;
    background-color: rgba(15, 44, 124, 0.253);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.topbarLeft{
    flex: 3;
    background-color: rgba(15, 44, 124, 0.253);
}

.logo{
    font-size: 50px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.topbarCenter{
    flex: 5;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchbarIcon{
    height: 20px !important;
    margin-left: 10px;
}

.searchbarInput{
    border: none;
    width: 70%;
}

.searchbarInput:focus{
    outline: none;

}

.topbarRight{
    flex: 4;
    background-color: rgba(15, 44, 124, 0.253);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.topbarIcons{
    display: flex;
}

.topbarIconItems{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}